<!-- <div class="backdrop">
  <div id="sidebar"></div>
  <div id="main"></div>
</div> -->

<header class="header-view">Fitnote</header>
<section id='subheader'>
  <a href="#/notes/new">New Note</a>
</section>
<div id="content" class="group">

  <section id="sidebar">
    <div class="sidebar-sections">
      <div class="notebooks" id="sidebar-notebooks">
      </div>
    </div>
  </section>

  <section id="notes-list">
    <div id="note-list-items">

    </div>
  </section>

  <section id="note-detail">
    <div class="note-content" id="note-show-detail">
    </div>
  </section>
</div>
