<!-- <div class="backdrop">
  <div id="sidebar"></div>
  <div id="main"></div>
</div> -->

<header class="header-view group">Fitnote</header>
  <section class='subheader group'>
    <img class="logo-image" src="https://www.evernote.com/redesign/global/img/elephant.png"/>
    <h1 class="logo-text">Fitnote</h1>
    <div class="btn btn-default new-btn"><a href="#/notes/new">+ New Note</a></div>
  </section>
<div id="content" class="group">

  <section id="sidebar">
    <div class="sidebar-sections">
      <div class="notebooks" id="sidebar-notebooks">
      </div>
    </div>
  </section>

  <section id="notes-list">
    <div id="note-list-items">

    </div>
  </section>

  <section id="note-detail">
    <div class="note-content" id="note-show-detail">
    </div>
  </section>
</div>
