<h1>Create A New Notebook</h1>

<form action='<%= api_notebooks_url %>' method="post">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <label>
    Notebook Name
    <input type="text" name="notebook[name]" value="">
  </label>
  <br>
  <input type="submit" value="Save">
</form>
