<!-- <h1> Your Notebook's name is: <%= @notebook.name %> </h1>

<%= link_to 'Create a new Note', new_api_note_url %> -->

json.extract! @notebook, :id, :name, :created_at, :updated_at

json.owners @notebook.owners do |owner|
  json.id owner.id
  json.email owner.email
  json.username owner.username
end

json.notes @notebook.notes do |note|
  json.extract! note, :id, :title, :body, :created_at, :updated_at

end
