<h2 class="notebooks-header">Notebooks</h2>
<a href="#" class="new-notebook">New Notebook</a>
<ul class="notebooks">
  <% notebooks.each(function(notebook) { %>
    <li>
      <a href="#/notebooks/<%= notebook.id %>">
        <%= notebook.escape('name') %>
      </a>
    </li>
  <% }) %>
</ul>
