<div class='show-notebook-header group'>

  <i><i class='glyphicon glyphicon-book'></i></i>
  <p>Search Results</p>

</div>

<div class='notes-shortview group'>
  <ul id="notes-summary" class="group">
  </ul>
</div>
