<form class="search-bar group">
  <div class="input-group">
    <input type="text" id="search-box" class="form-control text-input" name="name" placeholder="enter keyword" aria-describedby="basic-addon2">
    <input type="submit" class="submit btn" value="Search" id="basic-addon2">
  </div>
</form>
