
<div class="note-form-top">

</div>

<div class="note-form-buttom">
  <div class="note-form-header-right">
    <div class="delete-note">DELETE
    <i class="glyphicon glyphicon-trash"></i>
    </div>
  </div>

  <div class="note-form-header-left">
    <ul class="dates">
      <li>
        Created: <%= moment(note.escape("created_at")).format('MMM D, YYYY') %>
      </li>
      <li>
        Modified: <%= moment(note.escape("updated_at")).format('MMM D, YYYY') %>
      </li>
    </ul>
  </div>

</div>

<div class="note-form-content">
  <form class="note-title">
  <div class="form-group">
    <input id='note-title' type="text" name="title" value="<%= note.get("title") %>" class="form-control">

    <textarea class="form-control" name="body" id="body" >"<%= note.get('body') %>"</textarea>
  </div>
    <input type="submit" value="update">
  </form>
</div>
