
<form>
  <label for="title">Title
    <input type="text" name="title" value="Untitled">
  </label>
  <br>
  <label for="body">Body
    <textarea name="body" id="body"></textarea>
  </label>

  <input type="submit">
</form>
