  <form class="note-title">
  <div class="form-group">
    <input id='note-title' type="text" name="title" value="<%= note.get("title") %>" class="form-control">

    <textarea class="form-control" name="body" id="body" >"<%= note.get('body') %>"</textarea>
  </div>
    <input type="submit" value="update">
  </form>
