<div class="new-tag" >
    <input type="text" name="tag_name" placeholder="add tag">
</div>
  <ul class="tags group">
    <% note.get('taggings').each(function(tagging) { %>
    <li class="tag group">
        <h2><%= tagging.escape('tag_name') %></h2>
        <button class="remove-tag" data-id="<%= tagging.id %>">x</button>
    </li>
    <% }) %>
  </ul>
